In [ ]:
import pandas as pd
import numpy as np

In [ ]:
NB_file_path = r'C:\Data Science\chicago-crime-property-analysis\Israel\app\neighborhoods.txt'

neighborhoods = pd.read_csv(NB_file_path, header=None)
neighborhoods = neighborhoods.rename(columns={0: 'Neighborhood'})
neighborhoods = neighborhoods.drop(columns=1)

print(neighborhoods)

In [ ]:
neighborhood_dict = neighborhoods.to_dict(orient='index')

print(neighborhood_dict)

In [ ]:
neighborhood_select = pd.DataFrame({'Neighborhood': neighborhoods['Neighborhood']})

In [ ]:
neighborhood_select

In [ ]:
val5 = 'neighborhood_ARCHER HEIGHTS'
chosen_neighborhood = val5
neighborhood_select['Neighborhood'] = np.where(neighborhood_select['Neighborhood'] == chosen_neighborhood, chosen_neighborhood,0)

print(neighborhood_select)

In [ ]:
year_built_file_path = r'C:\Data Science\chicago-crime-property-analysis\Israel\app\year_built.txt'

# Read the year built data
year_built_data = pd.read_csv(year_built_file_path, header=None)
year_built_data = year_built_data.rename(columns={0: 'YearBuilt'})
year_built_data = year_built_data.drop(columns=1)

# Create the year_built_select dataframe
year_built_select = pd.DataFrame({
    'YearBuilt': year_built_data['YearBuilt'],
    'bool': 0
})

# Get user input for Year Built
val3 = 'year_built_1818'

# Set the 'bool' value for the selected Year Built and 0 for the rest
chosen_year_built = val3
year_built_select['bool'] = (year_built_select['YearBuilt'] == chosen_year_built).astype(int)

# Print the resulting dataframe
print(year_built_select)

In [18]:
import pandas as pd
import geopandas as gpd

crime_df = pd.read_csv('C:\Data Science\chicago-crime-property-analysis\Israel\data\crime-map-data.csv')

In [19]:
print(crime_df.columns)

Index(['community', 'year', 'Crimes Involving Children',
       'Deceptive Practices and Fraud', 'Drug-Related Crimes',
       'Property Crimes', 'Public Order Crimes', 'Violent Crimes'],
      dtype='object')

In [20]:
import geopandas as gpd
import pandas as pd

# Load the GeoJSON file into a GeoDataFrame
geojson_path = r'C:\Data Science\chicago-crime-property-analysis\Israel\data\boundries-chicago.geojson'
geo_df = gpd.read_file(geojson_path)

# Merge the crime dataframe with the GeoDataFrame based on the 'community' feature
merged_df = pd.merge(crime_df, geo_df, on='community')

# Extract the coordinates from the 'geometry' column
merged_df['latitude'] = merged_df['geometry'].apply(lambda geom: geom.centroid.y)
merged_df['longitude'] = merged_df['geometry'].apply(lambda geom: geom.centroid.x)

# Drop unnecessary columns
merged_df = merged_df.drop(['geometry'], axis=1)

# Display the resulting dataframe
print(merged_df)

       community  year  Crimes Involving Children  \
0    ALBANY PARK  2014                       16.0
1    ALBANY PARK  2015                       20.0
2    ALBANY PARK  2016                       25.0
3    ALBANY PARK  2017                       25.0
4    ALBANY PARK  2018                       14.0
..           ...   ...                        ...
745     WOODLAWN  2019                       55.0
746     WOODLAWN  2020                       43.0
747     WOODLAWN  2021                       38.0
748     WOODLAWN  2022                       38.0
749     WOODLAWN  2023                       39.0

     Deceptive Practices and Fraud  Drug-Related Crimes  Property Crimes  \
0                            112.0                149.0           1092.0
1                             88.0                110.0           1257.0
2                            142.0                 44.0           1178.0
3                            134.0                 28.0           1298.0
4                            143.0                 33.0           1163.0
..                             ...                  ...              ...
745                          200.0                164.0           1276.0
746                          158.0                 60.0           1137.0
747                          171.0                 28.0           1076.0
748                          130.0                 24.0           1531.0
749                          135.0                 45.0           1895.0

     Public Order Crimes  Violent Crimes area     shape_area perimeter  \
0                  147.0           687.0    0  53542230.8191         0
1                  103.0           758.0    0  53542230.8191         0
2                   67.0           791.0    0  53542230.8191         0
3                   73.0           711.0    0  53542230.8191         0
4                   94.0           792.0    0  53542230.8191         0
..                   ...             ...  ...            ...       ...
745                284.0          1525.0    0   57815179.512         0
746                231.0          1243.0    0   57815179.512         0
747                250.0          1182.0    0   57815179.512         0
748                252.0          1230.0    0   57815179.512         0
749                280.0          1296.0    0   57815179.512         0

    area_num_1 area_numbe comarea_id comarea      shape_len   latitude  \
0           14         14          0       0  39339.0164387  41.968068
1           14         14          0       0  39339.0164387  41.968068
2           14         14          0       0  39339.0164387  41.968068
3           14         14          0       0  39339.0164387  41.968068
4           14         14          0       0  39339.0164387  41.968068
..         ...        ...        ...     ...            ...        ...
745         42         42          0       0  46936.9592443  41.778876
746         42         42          0       0  46936.9592443  41.778876
747         42         42          0       0  46936.9592443  41.778876
748         42         42          0       0  46936.9592443  41.778876
749         42         42          0       0  46936.9592443  41.778876

     longitude
0   -87.721560
1   -87.721560
2   -87.721560
3   -87.721560
4   -87.721560
..         ...
745 -87.594925
746 -87.594925
747 -87.594925
748 -87.594925
749 -87.594925

[750 rows x 18 columns]

In [21]:
merged_df.head()

,community,year,Crimes Involving Children,Deceptive Practices and Fraud,Drug-Related Crimes,Property Crimes,Public Order Crimes,Violent Crimes,area,shape_area,perimeter,area_num_1,area_numbe,comarea_id,comarea,shape_len,latitude,longitude
0,ALBANY PARK,2014,16.0,112.0,149.0,1092.0,147.0,687.0,0,53542230.8191,0,14,14,0,0,39339.0164387,41.968068,-87.72156
1,ALBANY PARK,2015,20.0,88.0,110.0,1257.0,103.0,758.0,0,53542230.8191,0,14,14,0,0,39339.0164387,41.968068,-87.72156
2,ALBANY PARK,2016,25.0,142.0,44.0,1178.0,67.0,791.0,0,53542230.8191,0,14,14,0,0,39339.0164387,41.968068,-87.72156
3,ALBANY PARK,2017,25.0,134.0,28.0,1298.0,73.0,711.0,0,53542230.8191,0,14,14,0,0,39339.0164387,41.968068,-87.72156
4,ALBANY PARK,2018,14.0,143.0,33.0,1163.0,94.0,792.0,0,53542230.8191,0,14,14,0,0,39339.0164387,41.968068,-87.72156

In [22]:
columns_to_drop = ['area', 'shape_area', 'perimeter', 'area_num_1', 'area_numbe', 'comarea_id', 'comarea', 'shape_len']
merged_df = merged_df.drop(columns=columns_to_drop)

In [23]:
merged_df.head()

,community,year,Crimes Involving Children,Deceptive Practices and Fraud,Drug-Related Crimes,Property Crimes,Public Order Crimes,Violent Crimes,latitude,longitude
0,ALBANY PARK,2014,16.0,112.0,149.0,1092.0,147.0,687.0,41.968068,-87.72156
1,ALBANY PARK,2015,20.0,88.0,110.0,1257.0,103.0,758.0,41.968068,-87.72156
2,ALBANY PARK,2016,25.0,142.0,44.0,1178.0,67.0,791.0,41.968068,-87.72156
3,ALBANY PARK,2017,25.0,134.0,28.0,1298.0,73.0,711.0,41.968068,-87.72156
4,ALBANY PARK,2018,14.0,143.0,33.0,1163.0,94.0,792.0,41.968068,-87.72156

In [25]:
output_csv_path = r'C:\Data Science\chicago-crime-property-analysis\Israel\app\resources\data\map_data.csv'
merged_df.to_csv(output_csv_path, index=False)